extends header
- var col = 0
block content
  - each item in data
      div.rows
        div.col-xs-3
          div.card(style="margin-bottom = 10px;")
            div.content
              center
                div.rows
                  div.col-xs-12
                    img.img-responsive(src="//localhost:8080/images/book/"+item.IMAGE+".jpg" height="400" width="200")
                div.rows
                  div.col-xs-6
                    h4 ผู้แต่ง
                  div.col-xs-5
                    h4= item.Name+" "+item.Surname
                div.rows
                  div.col-xs-12
                    a.btn.btn-simple.btn-danger(href="http://localhost:8080/") ย้อนกลับ
                div.rows
                  div.col-xs-12
                    &nbsp;
      div.col-xs-9
        h2= item.TITLE
        - each chapter in bookChapter.row2
            div.rows
              div.card.card-nav-tabs.card-plain
                div.header.header-info(style="padding-left: 10px")
                  h3 หัวข้อ #{chapter.NAME}
                div.content
                  p= chapter.DETAIL
