doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/material-kit.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css')
    meta(charset='utf-8')
  body.index-page
    nav.navbar.navbar-success
      div.container
        div.navbar-header
          a.navbar-brand Book Application
    block content
