extends header
- var col = 0
block content
  ul
  - each item in data.row
      div.rows
        div.col-xs-4
          div.card(style="margin-bottom = 10px;")
            div.content
              center
                div.rows
                  div.col-xs-12
                    h3= item.TITLE
                div.rows
                  div.col-xs-12
                    img.img-responsive(src="//localhost:8080/images/book/"+item.IMAGE+".jpg" height="400" width="200")
                div.rows
                  div.col-xs-6(style="margin-top: 10px;")
                    h4 ผู้แต่ง
                  div.col-xs-5(style="margin-top: 10px;")
                    h4= item.AUTHOR
                div.rows
                  div.col-xs-12
                    a.btn.btn-simple.btn-info(href="http://localhost:8080/bookdetail/"+item.ID) ดูรายละเอียด
                div.rows
                  div.col-xs-12
                    &nbsp;
